<!DOCTYPE HTML>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700" media="screen" rel="stylesheet" type="text/css" />
    <style>
      /* No content under the fixed bootstrap header. */
      body {
        padding-top: 60px;
      }
    </style>
    <link href="stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/common.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/project.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/index.css" media="screen" rel="stylesheet" type="text/css" />

    <title>SMARTMIXES</title>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="#">SMARTMIXES</a>
        <ul class="nav pull-right">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/sobre">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">

      <table class="table">
        <thead>
          <tr>
            <th>Nome do Servidor</th>
            <th>Players</th>
            <th>Mapa</th>
            <th>Entrar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>AMIGOS DICORACAO @ GOSERVERS secure / password</strong></td>
            <td>11/14</td>
            <td>de_inferno</td>
            <td><a href="steam://connect/1.0.0.27:27015">ip:port</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

</html>
